<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.bomul_backend.game.model.dao.GameTemplateDao">

    <insert id="insertScope" useGeneratedKeys="true" keyProperty="scopeId">
        INSERT INTO Scope (scope_type, created_at)
        VALUES (#{scopeType}, NOW());
    </insert>

    <insert id="insertCircleScope">
        INSERT INTO CircleScope (scope_id, center_lat, center_lon, radius)
        VALUES (#{scopeId}, #{centerPosition.latitude}, #{centerPosition.longitude}, #{radius})
    </insert>

    <insert id="insertRectangleScope">
        INSERT INTO RectangleScope (scope_id, top_left_lat, top_left_lon, bottom_right_lat, bottom_right_lon)
        VALUES (#{scopeId}, #{topLeftPosition.latitude}, #{topLeftPosition.longitude}, #{bottomRightPosition.latitude}, #{bottomRightPosition.longitude})
    </insert>

    <insert id="insertCustomScope">
        INSERT INTO CustomScope (scope_id, custom_point)
        VALUES (#{scopeId}, #{customPoint, jdbcType=VARCHAR})
    </insert>

    <insert id="insertGameTemplate" useGeneratedKeys="true" keyProperty="mapId">
        INSERT INTO game_template (
            operator_id,
            scope_id,
            max_participants,
            announcement_text,
            feedback_range,
            max_feedback_level,
            created_at
        )
        VALUES (
                   #{operatorId},
                   #{scopeId},
                   #{maxParticipants},
                   #{announcementText},
                   #{feedbackRange},
                   #{maxFeedbackLevel},
                   NOW()
               )
    </insert>

    <insert id="insertMarker">
        INSERT INTO Marker(map_id, type, latitude, longitude,is_visible,
                           view_count,
                           content_text,
                           content_img_url,
                           created_at
        ) )
        VALUES (
            #{mapId},
            #{type.ordinal},
            #{position.latitude},
            #{position.longitude},
            #{isVisible},
            #{viewCount},
            #{contentText},
            #{contentImgUrl},
            NOW()
            )
    </insert>

    <update id="updateGameTemplate">
        UPDATE gametemplate
        SET
            max_participants = #{maxParticipants},
            announcement_text = #{announcementText},
            feedback_range = #{feedbackRange},
            max_feedback_level = #{maxFeedbackLevel},
            updated_at = NOW()
        WHERE map_id = #{mapId}
    </update>

    <select id="selectGameTemplateById" resultType="GameTemplate">
        SELECT * FROM game_template WHERE map_id = #{mapId}
    </select>


</mapper>
